*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
main.pdf
*.run.xml
*.synctex.gz
*.toc
*.xdv
*.nav
*.snm
*.vrb
*.lof
*.lot
*.lol
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
_build/
_tmp/
tmp/
data/
figures/tableshift_workflow_plot.pdf
results/tableshift_*
results/test_real_data_*
